Tema3/prueba01.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="nombre">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="apellido" type="xs:string"/>
					<xs:element name="dni" type="xs:string"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>